<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register page</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <%- include('../../components/navbar') %>
    <h1>menambahkan user</h1>
    <form action="/users" method="POST">
      <div>
        <label>name</label>
        <input type="text" name="name" />
      </div>
      <div>
        <label>email</label>
        <input type="text" name="email" />
      </div>
      <button type="submit">tambahkan</button>
      <a href="/users">kembali</a>
    </form>
    <%- include('../../components/footer') %>
  </body>
</html>
